<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Hi, i'm Joseph, welcome to my Blog. I'll be writing about my journey learning to code. I'll share what tips I figure out along the way as well as explain code I write so other's can learn from what helps me. Enjoy :) </p>
  </div>


    <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Social Links</h4>
    <ol class="list-unstyled social-links">
      <li><a target="_blank" href="https://github.com/jhyatt1017"><%= fa_icon "github" %></a></li>
      <li><a target="_blank" href="https://twitter.com/josephnhyatt"><%= fa_icon "twitter" %></a></li>
      <li><a target="_blank" href="https://www.facebook.com/joseph.hyatt.31"><%= fa_icon "facebook" %></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/joseph-hyatt/"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</div>
