<div class="app-card-container">
  <div class="card">
    <h1 class="contact-title">Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-7 contact-info">
        <h3>Location</h3>

        <p>Victorville, California</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "7604031181" %></p>

        <h3>Email</h3>

        <p><a href="mailto:jhyatt1017@gmail.com?subject=PortfolioContact" "email me">jhyatt1017@gmail.com</a></p>
      </div>
        <div class="col-md-6">
          <div class="sidebar-module">
            <h4>Social Links</h4>
            <ol class="list-unstyled social-links">
              <li><a target="_blank" href="https://github.com/jhyatt1017"><%= fa_icon "github" %></a></li>
              <li><a target="_blank" href="https://twitter.com/josephnhyatt"><%= fa_icon "twitter" %></a></li>
              <li><a target="_blank" href="https://www.facebook.com/joseph.hyatt.31"><%= fa_icon "facebook" %></a></li>
              <li><a target="_blank" href="http://josephhyatt.com"><%= fa_icon "user-secret" %></a></li>
            </ol>
          </div>
      </div>
    </div> 
  </div>
</div>

